/* Define layout for section Header */
.main-header {
  padding: pxToRem(40px) 0;

  &__logo {
    text-decoration: none;
    color: $light-blue;
    font-family: $font-base-bold;
    font-size: $font-size-lg;
  }
}
