/* Define styles for SearchGroup */
.search-group {
  text-transform: capitalize;

  &__label {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: $font-size-sm;
  }

  &__input {
    font-size: $font-size-xs;
    text-transform: capitalize;

    border: 1px solid $light-blue;
    border-radius: pxToRem(4px);
    padding: pxToRem(15px);
    margin-left: pxToRem(5px);
  }
}
