/* Define styles for tables */
.table {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: pxToRem(20px) 0;
    font-size: $font-size-sm;
    text-transform: capitalize;
    border-bottom: 1px solid $light-black;
    cursor: pointer;
  }

  &__cell {
    max-width: pxToRem(120px);
    display: flex;
    justify-content: center;
  }
}
